@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------*/
:root{
    --primary-color: #445069;
    --secundary-color: #201E43;
    --purple: #512B81;
    --darknavy: #071952;
    --black: #35374B;
    --white: #EEEEEE;

    --poppins:"Poppins", sans-serif;
}

/*---------------------*/
body{
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    background-color: var(--white);
    text-decoration: none;
}

/*---------------------*/
.padding-left-20px{
    padding-left: 50px;
}

a:hover{
    color: var(--secundary-color);
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}


/*Header*/
header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid;
    border-bottom-color: var(--darknavy);
    background: var(--black);
}
nav{
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 20px;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    position: right;
}
nav li{
    display: grid;
    padding: 25px 20px;
    background-color: var(--white);
}
nav li a{
    color: var(--secundary-color);
    font-size: 18px;
    text-decoration: none;
}
nav li a:hover{
    color: var(--purple);
}
#inicio img{
    padding-top: 8px;
    padding-left: 25px;
    width: 90x;
    height: 90px;
}
.icon{
    font-size: 60px;
    color: black;
}
.title{
    border: 5px solid var(--black);
    align-content: center;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}
h2{
    font-size: 48px;
    font-weight: 800px;
    color: var(--black);
}
h3{
    font-size: 32px
}
p{
    font-size: 24px;
}
h1, h2, h3, h4 p, a{
    font-family: var( --poppins);
}


/*---------------------*/
.section-one{
    height: 100px;
    width: 100%;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 5%;
    text-align: center;
}


/*---------------------*/
.video-presentacion{
    display: grid;
    height: 350px;
    align-content: center;
    text-align: justify;
    grid-template-columns: auto auto;
    gap: 30px;
    border-top: 5px solid var(--black);
    border-bottom: 5px solid var(--black);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--white);
}


/*---------------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.gallery-item {
    font-family: var(--poppins);
    border: 5px solid var(--black);
    align-content: center;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--white);

}
.gallery-item img {
    max-height: 150px;
    width: auto;
}
.img-gallery{
    border: 4px solid black;
    border-radius: 10px;
}


/*Footer*/
.footer{
    display: grid;
    grid-template-columns: 200px auto auto auto;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    gap: 8px;
    background: var(--black);
    color: var(--white);
    padding: 10px;
    margin-top: 100px;
}
footer h3{
    text-align: center;
}
footer ul{
    list-style: none;
    position: right;
}
footer li a{
    font-size: 18px;
    text-decoration: none;

}
footer li a:hover{
    color: var(--purple);
    text-decoration: none;
}
.footer1 ul li a{
    padding-left: 20%;
}
.footer2 ul li a{
    padding-left: 30%;
}
.logo img{

    padding-left: 50px;
    width: 120px;
    height: 120px;
}
.redes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    align-items: center;
}